1.Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.

In [3]:
m=input()
x=m.index("@")
op=m[x+1:len(m)-4]
print(op)

jmstephan005@google.com
google

2.Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.

In [7]:
s=list(map(str,input().split(",")))
print(sorted(s,reverse=False))

without,hello,bag,world
['bag', 'hello', 'without', 'world']

# 3.Sets

In [8]:
fruits = {"apple", "banana", "cherry"}
if "apples" in fruits:
    print("yes")
else:
    print("No")

No

In [11]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'b', 'a', 3, 'c'}

In [12]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

In [13]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 'a', 3, 'c'}

In [32]:
set1 = {"a", "b" , "c",1}
set2 = {1, 2, 3,"a","b"}

set3 = set1.intersection(set2)
print(set3)

{1, 'b', 'a'}

In [16]:
set2.clear()
set2

set()

In [18]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'banana', 'orange', 'cherry', 'apple'}

In [19]:
x = fruits.copy()

print(x)

{'banana', 'orange', 'cherry', 'apple'}

In [20]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)
y.discard("apple")

print(x)
print(y)

{'banana', 'cherry'}
{'microsoft', 'google'}

In [33]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [39]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.isdisjoint(y)

False

In [40]:
x.union(y)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [43]:
x.pop()

'banana'

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.

In [48]:
def findvalue(n):
    a=len(n)
    sum1=(a+1)*(a+2)//2
    sum2=sum(n)
    return sum1-sum2
n=list(map(int,input().split()))
print(findvalue(n))

1 2 4 6 3 7 8
5

With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.

In [51]:
s=list(map(int,input().split()))
a=set(a)
print(sorted(a))

12 24 35 24 88 120 155 88 120 155
[12, 24, 35, 88, 120, 155]